services:
  - type: web
    name: vicbot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python start.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DISCORD_TOKEN
        sync: false
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: PORT
        value: 8000
